@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'poppins';
    margin:0;
    padding: 0;
    border: 0;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    background-image: radial-gradient(rgba(0, 0, 0, 0.311) 2px, transparent 0);
    background-size: 40px 40px;
    background-position: -5px -5px;
    animation: bg-move 5s linear infinite;

}
@keyframes bg-move {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -40px -40px;
    }
}

.form-1{
    backdrop-filter: blur(15px);
    margin: 20px;
    background-color:white;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;
}
.title {
    font-size: 28px;
    font-weight: 800;
    color: black;
}
.input-field {
    position: relative;
    width: 100%;
}
  
.input {
    margin-top: 15px;
    width: 100%;
    outline: none;
    border-radius: 8px;
    height: 45px;
    border: 1.5px solid #eeeee4;
    background: transparent;
    padding-left: 10px;
}
.input:focus {
    border: 1.5px solid #2d79f3;
}
.input::placeholder {
    font-size: 16px;
    color: #ccc;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 2;
}

.submit-btn {
    margin-top: 30px;
    height: 55px;
    background: black;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background: linear-gradient(180deg, #0d359b 0%, #254ca1 50%, #0b32a8 100%);
    transition:0.3s ;
    cursor: pointer;
  }